body {
	margin: 0;
}
.colorPickerSection
{
	height: 300px;
	position: relative;
}

.button.mode input[type=radio] + div {
	background-image: url("images/off.png");	
}

.button.mic input[type=radio] + div
{
	background-image: url("images/mic-off.jpg");
}

.button.lights input[type=checkbox] + div {
	background-image: url("images/lights-off.jpg");
}

.button.strobo input[type=radio] + div 
{
	background-image: url("images/stroboscop-off.png");
}

.button.rainbow input[type=radio] + div 
{
	background-image: url("images/rainbow-off.png");
}

.button.breath input[type=radio] + div {
	background-image: url("images/breath-off.jpg");
}

.divider
{
	background-image: url("images/divider.png");
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10%;
  	height: 90%;
  	margin-top:8px;
}
.button.lights input[type=checkbox]:checked + div {
	background-image: url("images/lights-on.jpg");	
}

.button.mic input[type=radio]:checked + div {
	background-image: url("images/mic-on.jpg");	
}

.button.mode input[type=radio]:checked + div {
	background-image: url("images/on.png");	
}

.button.strobo input[type=radio]:checked + div {
	background-image: url("images/stroboscop-on.png");	
}

.button.rainbow input[type=radio]:checked + div {
	background-image: url("images/rainbow-on.png");	
}

.button.breath input[type=radio]:checked + div {
	background-image: url("images/breath-on.jpg");	
}